.cardholder {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content:  space-between;
    padding: 0;
    box-sizing: border-box;
    border-radius: 2px;
    overflow: hidden;
    background-color: #ffffff;
    height: 320px;
    width: 300px;
    box-shadow: 1px 4px 8px 1px rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 30;
  }

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.cardtitle {
  border-top: 1px solid #CCCCCC;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  padding: 2px 16px;
}

.cardtitle a {
  padding-left: 5px;
  padding-right: 20px;
}


.newlocation {
  background-color: #ffffff;
  padding-right:  10px;
}

.newlocation i {
  padding: 10px;
}

.data {
  padding-top: 20px;
  text-align: center;
}


.data ul {
  list-style: url();
}
.data li {
  padding-bottom: 10px;
  display: block !important;
}

select {
  border-style: none;
  padding: 2px 2px 2px 2px;
  font-size: 16pt;
  text-transform: uppercase;
}

select option {
    padding: 2px 2px 2px 2px;
    font-size: 14px;
    width: 100px;

}

select:disabled {
  color: #666666;
}
