.URLsCard {
  height: 290px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #000000;
}

.URLsCard::-webkit-scrollbar {
  width: 15px;
  border-bottom: 1px solid #ffffff;
}

.URLsCard::-webkit-scrollbar-thumb {
  background-color: #0f1282;
}

.URLsCard ul {
  width: 100%;
  background-color: #ffffff;
  margin: 5px;
  padding: 5px;
}

.URLsCard li {
  display: block;
  border-bottom: solid 1px #CCCCCC;
  border-radius: 3px;
  font-size: 10pt;
  padding-top: 5px;
  padding-bottom: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.URLsCard a {
  color: #1da1f2;
}
