.ImagesCard {
  height: 290px;
  background-color: #000000;
  overflow-y: scroll;
  overflow-x: hidden;

}

.ImagesCard::-webkit-scrollbar {
  width: 15px;
  border-bottom: 1px solid #ffffff;
}

.ImagesCard::-webkit-scrollbar-thumb {
  background-color: #0f1282;
}

.Images {
  padding: 3px;
  margin: 5px 5px 5px 5px;
}

.Images img {
  width: 300px;
}

.ImageStats {
  position: absolute;
  height: 25px;
  border-top: 1px solid #CCCCCC;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  align-items: center;
}
