.ImagesCard {
  height: 290px;
  background-color: #000000;
  overflow-y: scroll;
  overflow-x: hidden;

}

.ImagesCard::-webkit-scrollbar {
  width: 15px;
  border-bottom: 1px solid #ffffff;
}

.ImagesCard::-webkit-scrollbar-thumb {
  background-color: #0f1282;
}

.Images {
  padding: 3px;
  margin: 5px 5px 5px 5px;
}

.Images img {
  width: 300px;
}
