.Intro {
  display: flex;
  flex-direction: column;
  margin-right: 50px !important;
  margin-top: 20px;
  margin-bottom: 20px;
}

.Intro p {
  font-family: 'Roboto:300' serif;
  font-size: 20px;
  justify-content: center;
  font-weight: 200 !important;
  color: #666666;
  margin-top: -10px;
  margin-left: 20px;
}

.Intro a {
  padding-left: 5px;
  font-size: 10pt;
  color: #666666;
}

.IntroButtons {
  display: flex;
  justify-content: center;
  margin-top: -40px;
}

.IntroButtons button {
  margin: 20 10 0 0;
}
