.Trends {
  position: relative;
  height: 760px;
  margin: 20 0 20 0;
   /* Location of the image */
  background-image: url("../images/mapbgdark.png");
  background-position: center center;
  background-repeat: no-repeat;
  /* Background image is fixed in the viewport so that it doesn't move when
     the content's height is greater than the image's height */
  background-attachment: fixed;
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: 100%;
  display: flex;
  justify-content: center;
}

.Trends a {
  color: #1E77B6;
}

.NewLocation {
  background-color: #ffffff;
  padding-right:  10px;
  opacity: 0.8;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.NewLocation i {
  padding: 10px;
}
