.TweetTabBar {
  text-transform: uppercase;
  background-color: #1E77B6;

}

.TweetTabBar ul {
  padding-top: 5px;
  padding-bottom: 5px;
}

.TweetTabBar a {
  color: #CCCCCC;
}

.TweetTabBar a:hover, a:active {
  color: #FFFFFF;
}

.TweetTab {
  font-size: 12pt;
  font-weight: 200;
  min-width: 100px;
  padding: 0 24px 0 0;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  vertical-align: middle;
  margin-left: 25px;
}

.TweetTabActive {
  color: #FFFFFF !important;
  text-decoration: none;
}
