.URLsCard {
  height: 274px;
  background-color: #C8D2D3;
}

.URLsCard ul {
  width: 310px;
  background-color: #ffffff;
  border-radius: 3px;
  margin: 5px;
  padding: 5px;
  height: 242px;
}

.URLsCard li {
  display: block;
  font-size: 10pt;
  padding-bottom: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.URLsCard a {
  color: #1E77B6;
}
