
.tab-bar {
  font-family: 'Roboto', sans-serif;
  display: table;
  height: 48px;
  text-transform: uppercase;
  position: relative;
  left: -260px;
  margin: 0 auto;
}

.tab-bar a {
    color: #4A4A4A;
}

.tab-bar a:hover, a:active {
  color: #1E77B6;
}

.tab {
 display: table-cell;
 position: relative;
 box-sizing: border-box;
 min-width: 120px;
 min-height: 48px;
 padding: 0 24px;
 text-align: center;
 text-decoration: none;
 white-space: nowrap;
 cursor: pointer;
 overflow: hidden;
 vertical-align: middle
 }

.tab-active {
  border-bottom: 3px solid #1E77B6;
}

.tab-active {
  color: #1E77B6 !important;
}
