.SavedSearchInfo {
  display: flex;
}

.SavedSearchText {
  flex: 1;
  padding: 12px;
  border: none;
  margin-left: 50px;
}

.SavedSearchText i {
  color: #999999;
}

.SavedSearchInsightText {
  flex: 1;
  padding: 12px;
  border: none;
  margin-left: 50px;
}

.SavedSearchInsightText i {
  color: #1E77B6;
  font-weight:100;
  font-size: 12pt;
}

.SavedSearchInsightText a {
  color: #000000;
  text-decoration: none;
}

#trash {
font-size: 16pt;
  color: #ff0000;
  padding-left: 20px;
}
