.TabBar {
  text-transform: uppercase;
  margin-left: 20px;
}

.TabBar a {
  color: #000000;
}

.TabBar a:hover, a:active {
  color: #ffff00;
  background-color: #000000 !important;
}

.Tab {
  font-size: 16pt;
  font-weight: 500;
  min-width: 120px;
  height: 40px;
  padding: 6 24px 6 6;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  vertical-align: middle;
}

.TabActive {
  color: #ffff00 !important;
  background-color: #000000 !important;


}
