.TweetTabBar {
  text-transform: uppercase;
  /* background-color: #0f1282; */
}

.TweetTabBar ul {
  padding: 10px;
}

.TweetTabBar a {
  color: #1da1f2;
}

.TweetTabBar a:hover, a:active {
  color: #0f1282;
  font-weight: 600;
  padding: 10px;
  border-bottom: 3px solid #0f1282;
}

.TweetTab {
  font-size: 12pt;
  font-weight: 500;
  min-width: 100px;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  vertical-align: middle;
  margin-left: 40px;
  padding: 10px;
}

.TweetTabActive {
  color: #0f1282 !important;
  text-decoration: none;
  padding: 10px;
  border-bottom: 3px solid #0f1282;
  font-weight: 600;
}
