.TweetTabBar {
  text-transform: uppercase;
  background-color: #0f1282;
}

.TweetTabBar ul {
  padding: 10px;
}

.TweetTabBar a {
  color: #ffffff;
}

.TweetTabBar a:hover, a:active {
  color: #FFFFFF;
  background-color: #000000;
  padding: 10px;
}

.TweetTab {
  font-size: 12pt;
  font-weight: 500;
  min-width: 100px;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  vertical-align: middle;
  margin-left: 40px;
  padding: 10px;
}

.TweetTabActive {
  color: #FFFFFF !important;
  text-decoration: none;
  background-color: #000000;
  padding: 10px;
}
